
html {
    box-sizing: border-box;
}
*,*::after,*::before {
    margin: 0;
    padding: 0;
}


body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  position: relative;
}
#video {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-top: 1px solid red;
  /*z-index: 2;*/
}

#output {
  position: absolute;
  display: block;
  background-color: transparent;
  transform: scaleX(-1);
  background-color: transparent;
  
 /*
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
*/
}
.container {
  /*
  background-image: url('./js.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  */ 

  /*background-color: transparent;*/
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 30%;

}
#test {
  background-image: url('./js.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  width: 640px;
  height: 480px;
  
  }
img  {
  position: absolute;
  display: block;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  
}
#main { 

position: relative;  

}