
html {
    box-sizing: border-box;
}
*,*::after,*::before {
    margin: 0;
    padding: 0;

}

body {
    background: black;
    color:#CCCCCC; 
  }
  #c2 {
    background-image: url(media/foo.png);
    background-repeat: no-repeat;
  }
  div {
 
    border :1px solid #444444;
    

  }

  #video {
      background-color: white;
      border :1px solid red;
  }
.container {
    
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: bottom;
    
}